/* Para TODO El HTML */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Electronica", serif;
    src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

/* Zona De Especifaciones Grales*/
ul {
    list-style-type: none;
    text-decoration: none;
}

h1 {
    color: black;
    font-size: 140%;
    font-family: "Nunito", sans-serif;
    line-height: 25px;
}

ul li {
    color: #000074;
    text-decoration: none;
}

p {
    color: black;
    font-size: medium;
    font-family: "Nunito", sans-serif;
    line-height: 21px;
}

h2 {
    color: black;
    font-size: larger;
    font-family: "Nunito", sans-serif;
    line-height: 21px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    background-color: #5f9ea0;
}

/* Zona De ID's */
#titulo {
    color: black;
    font-size: 1cm;
    font-family: "Nunito", sans-serif;
}

/* Zona De Etiquietas Especificas */
/* Zona De Etiquietas De Color*/
.negro {
    color: black;
    text-decoration: none;
}

.blanco {
    color: whitesmoke;
}

.background__blanco {
    background-color: white;
}

.background__bonito {
    background-color: #5f9ea0;
}

.background__negro {
    background-color: black;
}

/* Zona De Etiquietas De Posicion */
.centrado {
    text-align: center;
}

.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}

.grid {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F76%2F5b%2F7c%2F765b7c2c847900a86e7d03430d091c02.jpg&f=1&nofb=1");
}

.gradiente {
    background-image: -webkit-gradient(linear, right top, left top, from(gray), color-stop(#b8b8b8), to(gray));
    background-image: linear-gradient(to left, gray, #b8b8b8, gray);
}

/* Zona De Etiquietas De Objetos (Y Modificadores) */
.navegacion__lista {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: larger;
    /* background-color: black; */
    text-decoration: none;
    list-style-type: none;
    padding: 0% 10%;
}

.logo {
    padding: auto;
    margin: auto;
    width: 50%;
    height: 75%;
}

.borde {
    border: 15px 15px 15px 15px;
    border-width: 5px;
    padding: 15px 15px 15px 15px;
    border-style: hidden;
    /* background-color: #94c9cc; */
}

.introduccion {
    padding: 21px 25px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid black;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.introduccion__texto {
    color: black;
    font-size: 21px;
    font-family: "Nunito", sans-serif;
    padding: 15px 21px 15px 21px;
}

.introduccion__titulo {
    color: black;
    font-size: 36px;
    font-family: "Courier New", Courier, monospace;
    padding: 15px 21px 15px 21px;
}

.introduccion__link {
    color: white;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    padding: 3px 7px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
}

.ultimos-productos {
    padding: 15px 21px 15px 21px;
    border-radius: 10px;
    margin: 10px 10px;
}

.footer {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 5px 10px;
}

.seccion2 {
    background-color: #5c5c5c;
    border-radius: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

/* Flex Box */
.flex-padre--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.flex-padre--nowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.flex-padre--nowrap nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    background-color: white;
}

/*Grids (P A I N */
.grid__padre {
    margin: auto;
    margin-left: 2%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto) [3];
    grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto) [3];
    grid-template-rows: repeat(3, auto);
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100vw;
}

#imagen__grid {
    height: 85%;
    width: 90%;
    margin: 0%;
    padding: 0;
    border-radius: 5%;
}

.grid__padre-header {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto) [3];
    grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto) [4];
    grid-template-rows: repeat(4, auto);
    background-image: -webkit-gradient(linear, right top, left top, from(gray), color-stop(#b8b8b8), to(gray));
    background-image: linear-gradient(to left, gray, #b8b8b8, gray);
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-line-pack: center;
    align-content: center;
}

/* Estructura de las paginas */
.grid__estructrua--armeria {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    -ms-flex-line-pack: center;
    align-content: center;
}

#grid_armeria_1 {
    grid-column: header;
}

#grid_armeria_2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
}

#grid_armeria_2 p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#grid_armeria_3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
}

.grid__estructrua--index {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    -ms-flex-line-pack: center;
    align-content: center;
}

#grid_index_1 {
    grid-column: header;
}

#grid_index_2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    background-image: -webkit-gradient(linear, right top, left top, from(gray), color-stop(#b8b8b8), to(gray));
    background-image: linear-gradient(to left, gray, #b8b8b8, gray);
}

#grid_index_3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
}

.navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [8];
    grid-template-columns: repeat(8, 1fr);
    background-image: -webkit-gradient(linear, right top, left top, from(gray), color-stop(#b8b8b8), to(gray));
    background-image: linear-gradient(to left, gray, #b8b8b8, gray);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

/*Codigo Copiado X Animaciones*/
#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: whitesmoke;
}

#scroll-text {
    /* animation properties */
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
/*# sourceMappingURL=home.css.map */
.fondo_blanco {
    background-color: black;
}
.main-armeria {
    margin: 0;
    border: 0;
    padding: 0;
}

#grid_estructura--contacto {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    -ms-flex-line-pack: center;
    align-content: center;
}

#grid_contacto_1 {
    grid-column: header;
}

#grid_contacto_2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    background-image: -webkit-gradient(linear, right top, left top, from(gray), color-stop(#b8b8b8), to(gray));
    background-image: linear-gradient(to left, gray, #b8b8b8, gray);
}

#grid_contacto_3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
}

.linda_letra {
    color: black;
    font-size: medium;
    font-family: "Nunito", sans-serif;
    line-height: 21px;
}
